extends ../layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="/img/nosotros.jpg", alt="imagen de nosotros").img-fluid
            .col-md-7
                h1 #{pagina}
                blockquote Suspendisse tempor semper dolor, ut scelerisque metus hendrerit non. Praesent malesuada mauris eget nisi blandit condimentum. Nullam pharetra ante vel eros semper congue non sit amet leo. 

                p  Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis molestie mauris. Nullam sollicitudin laoreet volutpat. Integer pellentesque egestas lacus nec viverra. Morbi consectetur dui a congue rutrum. Vivamus nec mollis ante, sit amet vestibulum erat. 
                p Quisque metus quam, eleifend non nisi auctor, tincidunt hendrerit nulla. Aenean gravida imperdiet felis, dapibus accumsan ex sollicitudin non. Nullam et sagittis nibh. Vivamus faucibus ultricies lacus in pellentesque. Proin rhoncus maximus ipsum. Nulla id lectus in dolor laoreet malesuada sit amet eget velit. 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono de seguridad").img-fluid.mb-4
                    h2.mb-4 Seguridad
                    p Proin rhoncus maximus ipsum. Nulla id lectus in dolor laoreet malesuada sit amet eget velit.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono de seguridad").img-fluid.mb-4
                    h2.mb-4 Mejores Destinos
                    p Proin rhoncus maximus ipsum. Nulla id lectus in dolor laoreet malesuada sit amet eget velit.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono de seguridad").img-fluid.mb-4
                    h2.mb-4 Mejores Precios
                    p Proin rhoncus maximus ipsum. Nulla id lectus in dolor laoreet malesuada sit amet eget velit.           
